.container{
    width: 80%;
    margin: 3% 10%;
}
.contain_data{
    display: flex;
    gap: 50px;
}
.contain_data>div>img{
    border-radius: 50%;
    height: 250px;
    margin: 40px;
}
.user_name{
    display: flex;
    gap: 5%;
}
.user_name>button{
    background: transparent;
    height: 40px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
}
.user_name>button:hover{
    background-color: rgb(208, 203, 212);
}

.followersData{
    display: flex;
    gap: 20%;    
}
.followersData>div{
    display: flex;
    gap: 15%;
}
.followersData>div>h5:nth-child(2){
    color: rgb(184, 179, 179);
}
.name{
    text-align: left;
}

.post_review{
    height: 100px;
}
.postImage{
    display: flex;
    gap: 5%;
}
.round_image{
    height: 60px;
    margin: 5%;
    width: 60px;
    border-radius: 50%;
    border: 2px solid red;
}

.postedData{
    width: 100%;
}
.postedData>div{
    display: flex;
    gap: 5%;
    width: 90%;
    padding: 20px;
    margin: auto;
}
.linkNav>div{
    display: flex;
    width: 100%;
}
.linkNav>div>p{
    margin: 0%;
}
.post_grid{
    display: flex;
    gap: 10%;
}
.post_grid>div:nth-child(1){
    margin: 5%;
    display: grid;
    gap: 2%;
    grid-template-columns: auto auto auto;
}
.postImage_display{
    height: 100px;
    width: 100px;
}
.advertisement{
    width: 100%;
    text-align: center;
}
.advt{
    display: flex;  
    gap: 5%;
}
.advt>img{
    height: 50px;
    width: 150px;
}