*{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}

.notification{
    margin-top: 5vh;
    margin-left: 5vw;
    color: rgb(250, 41, 41);
}
.OldWrongnotification{
    margin-top: 5vh;
    margin-left: 5vw;
    color: rgb(250, 41, 41);
}
.successN{
    margin-top: 5vh;
    margin-left: 5vw;
    color: green;
}

.UserNameDiv{
    display: flex;
}

.UserNameDiv > img {
    border-radius: 50px;
    margin-right: 24px;
}

.userANDchange :nth-child(1) {
    font-size: 17px;
}

.userANDchange :nth-child(2){
    color: rgb(56,166,247);
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

.UserNameDiv{
    margin-top: 12px;
    margin-left: 120px;
}

.nameInput{
    margin-left: 120px;
    margin-top: 15px;
}

.nameInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.nameInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 400px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.helpInputLine{
    margin-top: 15px;
    width: 380px;
    margin-left: 188px;
}

.helpInputLine :nth-child(1){
    font-size: 13px;
    color: rgb(150, 145, 145);
}

.helpInputLine :nth-child(2){
    margin-top: 10px;
    font-size: 13px;
    color: rgb(150, 145, 145);
}



.usernameInputDiv{
    margin-left: 82px;
    margin-top: 25px;
}

.usernameInputDiv label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.usernameInputDiv input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 400px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.userNameDownText{
    margin-top: 15px;
    width: 380px;
    margin-left: 188px;
}
.userNameDownText p {
    font-size: 13px;
    color: rgb(150, 145, 145);
}

.websiteInput{
    margin-left: 98px;
    margin-top: 30px;
}

.websiteInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.websiteInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 400px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}



.bioInput{
    margin-left: 135px;
    margin-top: 15px;
}

.bioInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.bioInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 400px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.personalInfoText{
    margin-top: 25px;
    width: 380px;
    margin-left: 185px;
}

.personalInfoText :nth-child(1){
    margin-top: 15px;
    font-size: 15px;
    color: rgb(150, 145, 145);
}

.personalInfoText :nth-child(2){
    font-size: 13px;
    color: rgb(150, 145, 145);
}


.emailInput{
    margin-left: 113px;
    margin-top: 25px;
}

.emailInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.emailInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 400px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}


.numberInput{
    margin-left: 35px;
    margin-top: 15px;
}

.numberInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.numberInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 400px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.genderInput{
    margin-left: 95px;
    margin-top: 15px;
}

.genderInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.genderInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 400px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.suggestion{
    display: flex;
    margin-top: 25px;
    margin-left: 22px;
}

.suggestion p{
    font-size: 16px;
    color: rgb(61, 59, 59);
    margin-left: 10px;
    width: 280px;
    font-weight: 600;
    line-height: 18px;

}

.suggestion label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    font-size: 17px;
    margin-top: 5px;
    width: 150px;
}

.suggestion input {
    margin-left: 5px;
    margin-top: 22px;
    height: 15px;
    width: 15px;
}

.bothBtnSubandDis {
    margin-top: 35px;
}

.bothBtnSubandDis :nth-child(1){
    background-color: rgb(24, 155, 248);
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    margin-left: 175px;
}

.bothBtnSubandDis :nth-child(2){
    background-color: transparent;
    color: rgb(24, 155, 248);
    font-weight: 600;
    border: none;
    font-size: 14px;
    margin-left: 175px;
    cursor: pointer;
}

.footerSignUpLink{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

.lastfooterForg{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.lastfooterForg p {
    margin-left: 7px;
    margin-top: 2px;
    font-size: 11px;
    color: rgb(163, 157, 157);
    font-family: Helvetica;

}

.lastfooterForg img {
    margin-top: 2px;
    margin-left: 10px;
}

.footerPages{
    font-family: Helvetica;
    margin: 9px;
    text-decoration: none;
    color: rgb(145,145,145);
    font-size: 11.5px;
}

.languageList{
    border: none;
    color: rgb(145,145,145);
    font-size: 11.5px;
}


.userProfile p {
    margin-top: 6px;
    font-size: 20px;
}

.oldPass {
    margin-top: 30px;
}

.oldPass label {
    font-weight: 600;
    font-size: 18px;
    margin-left: 105px;
}

.oldPass input {
    padding-left: 10px;
    border-radius: 5px;
    width: 250px;
    height: 37px;
    font-size: 18px;
    border: 0.5px solid rgb(165, 156, 156);
    background-color: rgb(250,250,250);
    margin-left: 10px;
}

.newPass{
    margin-top: 10px;

}

.newPass label {
    font-weight: 600;
    font-size: 18px;
    margin-left: 97px;


}

.newPass input {
    padding-left: 10px;
    border-radius: 5px;
    width: 250px;
    height: 37px;
    font-size: 18px;
    border: 0.5px solid rgb(165, 156, 156);
    background-color: rgb(250,250,250);
    margin-left: 10px;


}

.confirmPass {
    margin-top: 10px;
}

.confirmPass label {
    font-weight: 600;
    font-size: 18px;
    margin-left: 25px;
}

.confirmPass input {
    padding-left: 10px;
    border-radius: 5px;
    width: 250px;
    height: 37px;
    font-size: 18px;
    border: 0.5px solid rgb(165, 156, 156);
    background-color: rgb(250,250,250);

    margin-left: 10px;
}

.changePass{
    background-color: rgb(0,149,246);
    color: white;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgetChange{
    text-decoration: none;
    color: rgb(0,149,246);
    margin-left: 17px;
    cursor: pointer;
}

.bothBtn{
    margin-top: 25px;
    margin-left: 75px;
}

@media screen and (max-width: 1200px){

    /* .leftMainD{
        margin-left: -85px;
    }
     */


    .nameInput{
        display: flex;
    }

    .usernameInputDiv{
        display: flex;
    }

    .websiteInput{
        display: flex;
    }
    .bioInput{
        display: flex;
    }

    .emailInput{
        display: flex;
    }

    .numberInput{
        display: flex;
    }

    .genderInput{
        display: flex;
    }

    .bothBtnSubandDis{
        display: flex;
    }

    .tabsSection{
        display: none;
    }

    .confirmPass label {
        margin-left: 10px;
    }

    .newPass label {
        margin-left: 10px;
    }

    .oldPass label {
        margin-left: 10px;
    }
    .bothBtn{
        display: flex;
    }

    .bothBtn{
        margin-left: 40px;
    }

}

@media screen and (max-width: 800px){

    .nameInput{
        margin-left: 10px;
        margin-top: 15px;
    }

    .nameInput input {
        width: 250px;

    }

    .helpInputLine{
        margin-left: 75px;
        width: 300px;
        
    }

    .usernameInputDiv{
    margin-left: -22px;
    margin-top: 25px;
}


.usernameInputDiv label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.usernameInputDiv input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 250px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.userNameDownText{
    margin-top: 15px;
    width: 280px;
    margin-left: 78px;
}
.userNameDownText p {
    font-size: 13px;
    color: rgb(150, 145, 145);
}

.websiteInput{
    margin-left: -8px;
    margin-top: 30px;
}

.websiteInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.websiteInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 250px;

    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}



.bioInput{
    margin-left: 30px;
    margin-top: 15px;
}

.bioInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.bioInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 250px;

    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.personalInfoText{
    margin-top: 25px;
    width: 280px;
    margin-left: 75px;
}

.personalInfoText :nth-child(1){
    margin-top: 15px;
    font-size: 15px;
    color: rgb(150, 145, 145);
}

.personalInfoText :nth-child(2){
    font-size: 13px;
    color: rgb(150, 145, 145);
}


.emailInput{
    margin-left: 13px;
    margin-top: 25px;
}

.emailInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.emailInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 250px;

    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}


.numberInput{
    display: none;
    margin-left: 35px;
    margin-top: 15px;
}

.numberInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.numberInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 250px;

    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.genderInput{
    margin-left: -2px;
    margin-top: 15px;
}

.genderInput label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    margin-right: 18px;
    font-size: 17px;
} 

.genderInput input {
    border: 0.5px solid rgb(173, 172, 172);
    height: 35px;
    width: 250px;

    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;

}

.suggestion{
    display: flex;
    margin-top: 25px;
    margin-left: 22px;
}

.suggestion p{
    font-size: 10px;
    color: rgb(61, 59, 59);
    margin-left: 10px;
    width: 180px;
    font-weight: 600;
    line-height: 18px;

}

.suggestion label {
    font-weight: bold;
    color: rgb(61, 59, 59);
    font-size: 17px;
    margin-top: 5px;
    width: 150px;
}

.suggestion input {
    margin-left: 5px;
    margin-top: 22px;
    height: 15px;
    width: 15px;
}


.bothBtnSubandDis :nth-child(1){
    height: 35px;
}

.bothBtnSubandDis :nth-child(2){
    height: 35px;
    display: none;
}

}